.fixed-section {
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 28rem;
	z-index: 10;
	background-color: white;
	padding: 0 10rem;
}

/* .display-section {
	position: relative;
	top: 26rem;
} */

.header-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1rem;
}

.header-container h2 {
	margin-left: 2rem;
	margin-bottom: 0;
}

.back-arrow-link {
	all: unset;
}

.back_arrow {
	font-size: 3rem;
	margin-right: 7rem;
}
.back_arrow:active {
	position: relative;
	left: -0.2rem;
}

.category-page {
	width: 90%;
	margin: 0 auto;
}

.results-section {
	/* margin-top: 10rem; */
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding-top: 2rem;
	padding-bottom: 10rem;
	margin-bottom: 10rem;
}

.wide-screen {
	width: 100%;
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background-color: white;
	padding: 1rem 2rem;
}

.wide-screen button {
	padding: 0.5rem 1rem;
}

.buttons-container {
	width: 100%;
	display: none;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
	background-color: white;
}

.titles-heading {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 750px) {
	.fixed-section {
		display: block;
	}
	.category-page {
		width: 70%;
	}
	.display-section {
		position: relative;
		top: 26rem;
	}
	.search-bar {
		width: 50%;
	}
	.wide-screen {
		display: flex;
	}
	.areas-section {
		display: none;
	}
	.results-section {
		grid-template-columns: repeat(5, 1fr);
		gap: 1rem;
		margin-top: 2rem;
		margin-bottom: 0;
	}
	.small-navbar {
		display: none;
	}
	.buttons-container {
		display: flex;
	}
}
