@import url('variables.css');

.App {
    height: 100vh;
    background-color: #f1f5f5;
    overflow: scroll;
}

h1 {
    font-size: var(--font-size-bg);
    color: var(--text-color);
    padding: var(--padding-bg);
}

p {
    font-size: var(--font-size-sm);
    color: var(--text-color);
    padding: var(--padding-bg);
}
